
MessagePackPerformance/.vs/

MessagePackPerformance/MessagePackV1/bin/Debug/netcoreapp3.1/

MessagePackPerformance/MessagePackV1/obj/Debug/netcoreapp3.1/

MessagePackPerformance/MessagePackV1/obj/

MessagePackPerformance/Shared/obj/

MessagePackPerformance/Shared/bin/Debug/netstandard2.0/

MessagePackPerformance/MessagePackV2/TestSet_V2_output.bin

MessagePackPerformance/MessagePackV1/TestSet_V1_output.bin

MessagePackPerformance/MessagePackV2/bin/Debug/netcoreapp3.1/

MessagePackPerformance/MessagePackV2/obj/Debug/netcoreapp3.1/

MessagePackPerformance/MessagePackV2/obj/
